.add-news {
    padding: 10px;
    position: relative;
}
.add-news__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.add-news__item-text {
    margin: 10px 0;
    min-height: 60px;
}
.error {
    position: absolute;
    bottom: 45px;
    color: #f00;
    right: 0;
    left: 0;
}

.news-item {
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
}
